.logo-primary {
    color: $logo-color;
    margin-right: 93px;
}

.logo-header {
    color: $secondary-title-color;
}

.logo,
.logo-primary {
    display: block;
    font-family: $font-family-raleway;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}